.team-img{
    max-width: 100%;
    margin: 0 auto;
    display: block;
}

.career{
    max-width: 100%;
    margin: 10px auto;
    display: block;
    width: 1200px;
}
.tabs{
    font-size: 0;
    color: #999;
    font-weight: bold;
    border-bottom: 1px solid #999;
    height: 60px;
}
.tab{
    height: 60px;
    line-height: 60px;
    font-size: 18px;
    display: inline-block;
    margin:0 20px;
    cursor: pointer;
}
.tab.active{
    color: #333;
    border-bottom: 3px solid #ed5f4b;
}

.tab-contents{
    padding: 50px 40px;
    font-size: 16px;
    line-height: 1.6;
}
.career-content{
    display: none;
}
.career-content.active{
    display: block;
}
.career-content .title{
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 30px;
}
.career-content h2{
    font-size: 22px;
    color:#ed5f4b ;
    font-weight: normal;
}
.career-content h4{
    margin: 30px 0 10px;
}
.career-content ul{
    padding-top: 0;
    padding-bottom: 0;
    margin-top: 0;
    color:#999
}
.career-content ul li{
    font-size: 16px;
    color: #333;
}
.career-content a{
    color: #333;
    text-decoration: none;
}
.career-content a:hover{
    text-decoration: underline;
}
.option {
    width: 50%;
    padding-right: 40px;
    float: left;
}
/* Extra Small Devices, Mobile */
@media only screen and (max-width: 767px) {
    .tabs{
        height: 40px;
    }
    .tab{
        height: 40px;
        line-height: 40px;
        font-size: 14px;
        display: inline-block;
        width: 25%;
        margin: 0;
        text-align: center;
        cursor: pointer;
    }
    .tab-contents{
        padding: 20px 10px;
        font-size: 14px;
        line-height: 1.5;
    }
    .career-content .title{
        font-size: 18px;
    }
    .career-content h2{
        font-size: 18px;
    }
    .option {
        width: 100%;
        float: none;
        padding-right: 0;
    }
}
