html,
body {
    display: block;
    position: relative;
    margin: 0;
    padding: 0;
    font-family: 'PingFang SC', 'HanHei SC', 'Microsoft YaHei', 'Helvetica Neue', 'Helvetica', 'Arial', 'sans-serif';
    -webkit-overflow-scrolling: touch;
    -webkit-font-smoothing: antialiased;
    width: 100%;
    overflow-x: hidden;
    color: #333;
}

* {
    box-sizing: border-box;
}
input{
    -webkit-appearance: none;
}
a img {
    border: 0;
    outline: none;
}
.f12{font-size:12px}
.f14{font-size:14px}
.f16{font-size:16px}
.f18{font-size:18px}
.fb{font-weight: bold}
.fl{float: left}
.fr{float: right}
.clearfix{overflow: auto}
.t-center{text-align: center;}
.primas-color{color:#ed5f4b}
.container {
    position: relative;
    width: 1170px;
    margin: 0 auto;
}
.errortip {
    font-size: 12px;
    color: red;
    display: none;
}
.navbar,
.navbar-placeholder {
    position: relative;
    height: 100px;
}

.navbar {
    z-index: 10000;
    background-color: #232328;
    color: #ed5f4b;
}

.navbar-placeholder.hide {
    display: none;
}

.navbar.fixed {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}

.navbar .logo {
    position: relative;
    float: left;
    width: 145px;
    height: 40px;
    background: url(https://yb-public.oss-cn-shanghai.aliyuncs.com/primas/images/logo.png) center no-repeat;
    margin-top: 32px;
    margin-left: 30px;
    background-size: 100% 100%;
}

.navbar .items {
    position: relative;
    float: right;
    text-align: right;
}
.navbar .items .item {
    display: inline-block;
    height: 100px;
    line-height: 100px;
    color: #ed5f4b;
    text-decoration: none;
    cursor: pointer;
    font-size: 18px;
    padding: 0 28px;
}

.navbar .items .item:hover,
.navbar .items .item.active {
    border-bottom: 3px solid #ed5f4b;
}

.toast-wrap {
    width:20%;
    min-width:150px;
    background:rgba(255,255,255,.8);
    height:60px;
    color:#333;
    line-height:60px;
    text-align:center;
    border-radius:5px;
    position:fixed;
    top:10%;
    left:50%;
    -webkit-transform: translate3d(-50%,0,0);
    -ms-transform: translate3d(-50%,0,0);
    -moz-transform: translate3d(-50%,0,0);
    transform: translate3d(-50%,0,0);
    z-index:999999;
    font-size: 14px;
}

/* Large Devices, Desktops */
@media only screen and (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}
@media only screen and (max-width: 1199px) and (min-width: 992px) {
    .container {
        width: 960px;
    }
    .navbar,
    .navbar-placeholder {
        height: 80px;
    }

    .navbar .logo {
        margin-top: 22px;
    }

    .navbar .items .item {
        height: 80px;
        line-height: 80px;
        padding: 0 18px;
    }

}
/* Small Devices, Tablets */
@media only screen and (max-width: 991px) and (min-width: 768px) {
    .container {
        width: 750px;
    }
    .navbar,
    .navbar-placeholder {
        height: 80px;
    }

    .navbar .logo {
        margin-top: 22px;
    }

    .navbar .items .item {
        height: 80px;
        line-height: 80px;
        padding: 0 8px;
        font-size: 16px;
    }

}
/* Extra Small Devices, Mobile */
@media only screen and (max-width: 767px) {
    .container {
        width: auto;
        margin: 0 16px;
    }
    .navbar,
    .navbar-placeholder {
        display: none;
    }
}
