html,
body {
    display: block;
    position: relative;
    margin: 0;
    padding: 0;
    font-family: 'PingFang SC', 'HanHei SC', 'Microsoft YaHei', 'Helvetica Neue', 'Helvetica', 'Arial', 'sans-serif';
    -webkit-overflow-scrolling: touch;
    -webkit-font-smoothing: antialiased;
    width: 100%;
    overflow-x: hidden;
    line-height: 1.1;
}

* {
    box-sizing: border-box;
}
input{
    -webkit-appearance: none;
}
.f12{font-size:12px}
.f14{font-size:14px}
.f16{font-size:16px}
.f18{font-size:18px}
.fb{font-weight: bold}
.fl{float: left}
.fr{float: right}
.clearfix{overflow: auto}
.t-center{text-align: center;}
.toast-wrap {
    width:20%;
    min-width:150px;
    background:rgba(255,255,255,.9);
    height:60px;
    color:#333;
    line-height:60px;
    text-align:center;
    border-radius:5px;
    position:fixed;
    top:30%;
    left:50%;
    -webkit-transform: translate3d(-50%,0,0);
    -ms-transform: translate3d(-50%,0,0);
    -moz-transform: translate3d(-50%,0,0);
    transform: translate3d(-50%,0,0);
    z-index:999999;
    font-size: 14px;
}
body{
    background: #eb3e25;
}
.container{
    height: 880px;
    background: url(images/prize-bg.png) center top no-repeat #eb3e25;
    position: relative;
}
.rule{
    width:750px;
    margin: 0 auto;
    font-size: 16px;
    padding: 20px 0 60px;
}
.rule-title{
    color: #ffe869;
    font-size: 20px;
    font-weight: bold;
    border-bottom: 1px solid #d93820;
    height: 50px;
    line-height: 50px;
    text-indent: 20px;
    background: url(images/prize-icon002.png) left center no-repeat;
}
.rule-subtitle{
    color: #942514;
    font-size: 16px;
    margin: 20px 0 10px;
}
.rule-summary{
    color: #ffcccc;
    line-height: 1.5;
}
.hide{
    display: none;
}
.step{
    width: 750px;
}
.step.step01{
    width: 480px;
    padding-top: 410px;
    margin:0 auto;
    text-align: center;
}
.step01-title{
    font-size: 26px;
    color: #766332;
    font-weight: bold;
}
.eth-address{
    background: #fff;
    display: block;
    width: 100%;
    border: none;
    height: 60px;
    line-height: 60px;
    border-radius: 4px;
    padding: 0 15px;
    color: #766332;
    font-size: 18px;
    margin-top: 35px ;
}
.step01-submit{
    font-size: 18px;
    color: #fff;
    width: 260px;
    line-height: 50px;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
    background: #f54a31;
    margin: 75px auto 0;
}
.step01-error-tip{
    opacity: 0;
    font-size: 14px;
    color:#f54a31;
    margin: 10px;
}
.step01-error-tip.show{
    opacity: 1;
}
.step01-submit:hover,.step01-submit.disabled{
    background: #D32C1A;
}

.step02{
    height: 540px;
    position: relative;
    top:315px;
    margin: 0 auto;
}
.step02-chance{
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 0;
    text-align: center;
    line-height: 38px;
    font-size: 16px;
    background: url(images/prize-icon003.png) center no-repeat;
}
.chance-have{
    color:#f54a31 ;
}
.btn-box{
    position: absolute;
    left: 0;
    bottom: 60px;
    width: 100%;
    text-align: center;
}
.btn{
    margin: 0 20px;
    width: 214px;
    height: 72px;
    background: url(images/prize-btn.png) no-repeat;
    cursor: pointer;
    display: inline-block;
    font-size: 24px;
    text-align: center;
    line-height: 72px;
    font-weight: bold;
    color: #feef00;
}
.btn.disabled{
    background-image: url(images/prize-btn-disabled.png);
    cursor: not-allowed;
}
.prize-content{
    position: absolute;
    left: 50%;
    bottom: 180px;
    width: 340px;
    height: 300px;
    transform: translate3d(-50%,0,0);
    webkit-transform: translate3d(-50%,0,0);
}
.hongbao{
    height: 100%;
    background: url(images/hongbao.png) center no-repeat;
}
.jiang{
    position: absolute;
    left:50%;
    top:50px;
    margin-left: -25px;
    width:50px;
    height: 50px;
    border-radius: 100%;
    text-align: center;
    line-height: 50px;
    background: #FEE9A6;
    color:#F0CC57 ;
    font-size: 26px;
    box-shadow: 0px 2px 5px #333;
}
.jiang:after{
    position: absolute;
    content: '';
    width: 40px;
    height: 40px;
    border: 2px solid #F0CC57;
    border-radius: 100%;
    left: 3px;
    top: 3px;
}
.rotate{
    -webkit-animation: anim .6s ease-in infinite alternate;
    -ms-animation: anim .6s ease-in infinite alternate;
    animation: anim .6s ease-in infinite alternate;
}
@-webkit-keyframes anim {
    from { -webkit-transform: rotateY(180deg); }
    to { -webkit-transform: rotateY(360deg); }
}
@-ms-keyframes anim {
    from { -ms-transform: rotateY(180deg); }
    to { -ms-transform: rotateY(360deg); }
}
@keyframes anim {
    from { transform: rotateY(180deg); }
    to { transform: rotateY(360deg); }
}
.prize-result{
    position: absolute;
    left:0;
    width: 100%;
    top: 50%;
    transform: translate3d(0,-50%,0);
    webkit-transform: translate3d(0,-50%,0);
    text-align: center;
    color: #f54a31;
    font-weight: bold;
    font-size: 16px;
}
.prize-result .item{
    margin: 10px;
}
.step02 .prize-total{
    position: absolute;
    bottom: 210px;
    right:40px;
    width: 165px;
    height:210px;
}
.step02 .prize-total:before{
    content: '';
    position: absolute;
    width: 100%;
    height: 10px;
    border-radius: 5px;
    top: 0;
    left: 0;
    background: #e6a507;
}
.step02 .prize-total-cont{
    position: relative;
    top:5px;
    left:0;
    width: 155px;
    height: 100%;
    margin: 0 auto;
}
.step02 .prize-total-cont .total{
    text-align: center;
    color: #e6a507;
    font-size: 14px;
    padding:20px 0 30px;
    background: #fff;
}
.step02 .prize-total-cont .total .num{
    font-size: 44px;
    font-weight: bold;
    color: #380d07;
    margin-top: 20px;
}
.step02 .prize-total-cont .bot{
    background: #f6f6ed;
    line-height: 1.6;
    padding: 20px 0 10px;
    text-align: center;
    font-size: 12px;
    border-top:1px dashed #EDE7CC;
}
.step02 .prize-total-cont img{
    width: 100%;
    display: block;
}

.step03{
    width: 429px;
    position: relative;
    top:350px;
    margin: 0 auto;
}
.step03 .prize-total{
    position: relative;
    height:430px;
}
.step03 .prize-total:before{
    content: '';
    position: absolute;
    width: 100%;
    height: 20px;
    border-radius: 10px;
    top: 0;
    left: 0;
    background: #e6a507;
}
.step03 .prize-total-cont{
    position: relative;
    top:10px;
    left:0;
    width: 409px;
    height: 100%;
    margin: 0 auto;
}
.step03 .prize-total-cont .total{
    text-align: center;
    color: #e6a507;
    font-size: 14px;
    padding:30px 0 40px;
    background: #fff;
}
.step03 .prize-total-cont .total .num{
    font-size: 44px;
    font-weight: bold;
    color: #f54a31;
    margin-top: 30px;
}
.step03 .prize-total-cont .bot{
    background: #f6f6ed;
    line-height: 1.6;
    padding: 30px 20px;
    font-size: 14px;
    border-top:1px dashed #EDE7CC;
}
.step03 .prize-total-cont .bot span{
    color: #666;
    margin-top: 10px;
    display: block;
}
.step03 .prize-total-cont .bot i{
    color: #f54a31;
    font-style: normal;
}
.step03 .prize-total-cont img{
    width: 50%;
    border: none;
}
