/* Large Devices, Desktops */
@media only screen and (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}

/* Medium Devices, Desktops */
@media only screen and (max-width: 1199px) and (min-width: 992px) {
    .container {
        width: 960px;
    }

    .face .content {
        width: 800px;
    }
    .navbar,
    .navbar-placeholder {
        height: 80px;
    }

    .navbar .logo {
        margin-top: 22px;
    }

    .navbar .items .item {
        margin-top: 30px;
    }

    .navbar.fixed .items .item {
        padding: 0 18px;
    }

    .introduction .section.what .image img {
        width: 100%;
    }

    .introduction .section .title {
        font-size: 38px;
    }

    .container-strength .container{
        width: 960px;
    }
    .strength-content-item {
        margin-bottom: 100px;
    }
    .strength-content-item-heading {
        font-size: 24px;
    }
    .container-production {
        padding: 120px 0 50px;
    }
    .production-left {
        padding-right: 40px;
    }
    .production-right {
        padding-left: 60px;
    }
    .production-title {
        font-size: 38px;
        margin-bottom: 60px;
    }

    .container-advantage{
        background:#eee;
        padding-bottom:140px;
    }
    .advantage-item{
        padding: 0 20px;
        height: 300px;
    }
    .advantage-item-title{
        font-size: 24px;
        padding-bottom: 40px;
        height: 80px;
    }

    .team{
        height: 510px;
    }
    .team .container {
        padding-top: 40px;
    }
    .team .title .zh {
        font-size: 26px;
    }

    .team .title .en {
        font-size: 24px;
    }
    .team .summary {
        font-size: 24px;
        margin-top: 10px;
    }
    .team .summary:after {
        width: 538px;
        bottom: 3px;
    }
    .team .summary .bot-block{
        padding-left: 15px;
    }
    .team .summary span {
        font-size: 30px;
    }
    .team .summary .icon-bottom {
        bottom: -18px;
    }
    .investors {
        padding: 90px 0;
    }

    .investors .investor {
        margin-top: 90px;
    }

    .investors .investor .photo img {
        width: 160px;
    }

    .roadmap {
        padding-top: 90px;
    }

    .roadmap .content {
        margin: 110px 36px;
    }

    .partners {
        padding: 90px 0;
    }
    .partners .content {
        margin-top: 20px;
    }
    .partners .content .partner {
        width: 25%;
    }

    .navbar .weixin-qr-code {
        top: 83px;
    }

    .contact .weixin-qr-code {
        left: 133px;
    }
}

/* Small Devices, Tablets */
@media only screen and (max-width: 991px) and (min-width: 768px) {
    .container {
        width: 750px;
    }
    .face .content {
        width: 700px;
    }
    .navbar,
    .navbar-placeholder {
        height: 80px;
    }

    .navbar .logo {
        margin-top: 22px;
    }

    .navbar .items .item {
        margin-top: 30px;
        padding: 0 8px;
    }

    .navbar.fixed .items .item {
        padding: 0 8px;
        font-size: 16px;
    }

    .face .content {
        height: 400px;
    }

    .face .content .slogan {
        font-size: 38px;
    }

    .face .content .white-paper {
        margin-top: 120px;
    }
    .introduction .section.what .texts {
        padding-top: 50px;
    }
    .introduction .section.what .texts .demo{
        margin-top: 40px;
    }
    .introduction .section.what .image img {
        width: 100%;
    }

    .introduction .section .title {
        font-size: 28px;
    }
    .introduction .main-section-title {
        margin: 40px auto;
    }
    .container-strength .container{
        width: 750px;
    }
    .strength-content-item {
        margin-bottom: 50px;
    }
    .strength-content-item-heading {
        font-size: 24px;
    }

    .container-production {
        padding: 80px 0 50px;
    }
    .production-left {
        padding-right: 40px;
    }
    .production-right {
        padding-left: 60px;
    }
    .production-title {
        font-size: 28px;
        margin-bottom: 40px;
    }
    .production-cilent .demo {
        margin-top: 48px;
    }

    .container-advantage{
        padding-bottom:90px;
    }
    .advantage-item{
        padding: 0 10px;
        height: 300px;
    }
    .advantage-item-title{
        font-size: 20px;
        padding-bottom: 30px;
        height: 70px;
    }
    .advantage-item-desc {
        margin-top: 20px;
    }

    .team{
        height: 420px;
    }
    .team .container {
        padding-top: 32px;
    }
    .team .title .zh {
        font-size: 24px;
    }

    .team .title .en {
        font-size: 32px;
    }
    .team .summary {
        font-size: 20px;
        margin-top: 10px;
    }
    .team .summary:after {
        width: 439px;
        bottom: 3px;
    }
    .team .summary .bot-block{
        padding-left: 15px;
    }
    .team .summary .icon-bottom {
        bottom: -15px;
    }
    .team .summary span {
        font-size: 25px;
    }

    .investors {
        padding: 60px 0;
    }

    .investors .investor {
        margin-top: 60px;
    }

    .investors .investor .photo img {
        width: 160px;
    }

    .investors .investor .intro {
        font-size: 14px;
    }

    .roadmap {
        padding-top: 60px;
    }

    .roadmap .line {
        bottom: 26px;
    }

    .roadmap .content {
        margin: 50px 16px;
    }

    .roadmap .content .milestone .text .date {
        font-size: 22px;
    }
    .roadmap .content .milestone .text .name {
        font-size: 14px;
    }
    .roadmap .content .milestone .icon {
        width: 80px;
    }

    .roadmap .content .milestone .icon img {
        width: 40px;
    }

    .partners {
        padding: 60px 0;
    }
    .partners .content {
        margin-top: 20px;
    }
    .partners .content .partner {
        width: 33.3%;
    }

    .media-item{
        width: 33.333%;
    }

    .contact > .container > .title .zh {
        font-size: 28px;
    }

    .contact > .container > .title .en {
        font-size: 24px;
    }

    .contact .content .social {
        margin-right: 40px;
    }

    .contact .content .social .name {
        font-size: 16px;
    }

    .navbar .weixin-qr-code {
        top: 83px;
    }

    .navbar .weixin-qr-code .triangle {
        right: 50px;
    }

    .contact .weixin-qr-code {
        left: 40px;
    }

    .main-section-title .zh {
        font-size: 28px;
    }

    .main-section-title .en {
        font-size: 28px;
    }
}

/* Extra Small Devices, Mobile */
@media only screen and (max-width: 767px) {
    .container {
        width: auto;
        margin: 0 16px;
    }
    .face .content {
        width: 700px;
    }
    .weixin-qr-code.fixed {
        display: none;
    }
    .navbar,
    .navbar-placeholder {
        display: none;
    }
    .face .content .mobile-logo {
        display: block;
        font-size: 26px;
        position: relative;
        top: -60px;
    }
    .mobile-logo-img{
        width:160px;
    }
    .face .content .slogan {
        font-size: 32px;
    }

    .face .content .description {
        font-size: 14px;
    }

    .face .content .white-paper {
        margin-top: 120px;
    }
    .face .ico-store .item{
        display: none;
        margin: 0 auto 20px;
        width: 250px;
    }
    .face .ico-store .item.with-iphone{display: block}
    .face .icoage-tip{
        margin-top: 50px;
        font-size: 18px;
    }
    .face .ico-store{
        margin-top: 20px;
    }
    .face .ico-store .item img{
        width: 100%;
    }
    .face .white-paper-link{
        margin-top: 30px;
    }
    .introduction .section.what .texts,
    .introduction .section.what .image {
        width: auto;
        float: none;
    }
    .introduction .white-paper{
        margin: 40px auto 0;
        width: 236px;
        text-align: center;
    }
    .introduction .section.what .texts {
        padding-top: 48px;
    }
    .introduction .section.what .texts .demo{
        margin: 50px auto;
    }
    .ios-download{
        display: none;
    }
    .ios-download-phone{
        display: block;
    }
    .introduction .section.what .image img {
        width: 100%;
    }
    .introduction .main-section-title {
        margin: 40px auto;
    }
    .container-strength .container{
        width: auto;
    }
    .strength-content-item-img{
        float: none;
        display: block;
        max-width: 50%;
        margin: 0 auto;
    }
    .strength-content-item-heading {
        font-size: 18px;
        text-align: center;
        font-weight: bold;
    }
    .strength-content-item-desc {
        font-size: 14px;
    }
    .strength-content-item-summary {
        padding: 20px 0;
        float: none;
        width: 100%;
        max-width: 100%;
    }
    .strength-content-item {
        margin-bottom: 50px;
    }
    .introduction .section .title {
        font-size: 28px;
        text-align: center;
    }

    .container-production {
        padding: 40px 0 60px;
        text-align: center;
        background-position: center top;
    }

    .production-right {
        float: none;
        width: auto;
        padding-left: 0;
    }
    .production-left {
        float: none;
        width: 90%;
        text-align: center;
        margin: auto;
        padding: 0;
    }
    .production-mobile{display: block}
    .production-right .production-title{
        display: none;
    }
    .production-title {
        font-size: 20px;
        margin-bottom: 20px;
    }
    .production-title:after{display: none}
    .production-cilent-item{
        display: inline-block;
        float: none;
        margin: 0 10px;
    }
    .production-cilent .demo {
        width: 202px;
        margin: 50px auto 0;
        line-height: 2;
        font-size: 14px;
        cursor: pointer;
    }

    .container-advantage{
        padding-bottom:90px;
    }
    .advantage-item{
        float: none;
        width: 100%;
        padding: 30px 0;
        border: none;
        border-top: 1px solid #ccc;
        height: auto;
    }
    .advantage-item-title{
        font-size: 18px;
        padding-bottom: 30px;
        font-weight: bold;
        height: auto;
    }
    .advantage-item-desc {
        margin-top: 20px;
        font-size: 14px;
    }

    .team .summary {
        font-size: 15px;
        margin-top: 38px;
    }
    .team .summary:after {
        width: 340px;
        bottom: 3px;
    }
    .team .summary .bot-block{
        padding-left: 0;
    }
    .team .summary span {
        font-size: 25px;
        font-family: 'PingFang SC', 'HanHei SC', 'Microsoft YaHei', 'Helvetica Neue', 'Helvetica', 'Arial', 'sans-serif';
    }
    .team .summary .icon-top {
        padding-right: 4px;
    }

    .team .summary .icon-bottom {
        padding-left: 4px;
        bottom: -18px;
    }
    .investors {
        padding: 48px 0;
    }

    .investors .investor {
        margin-top: 48px;
        width: 50%;
    }

    .investors .investor img {
        width: 90%;
    }

    .investors .investor .intro {
        font-size: 13px;
        margin-top: 12px;
    }

    .roadmap {
        padding-top: 48px;
    }

    .roadmap .line {
        width: 4px;
        height: 560px;
        bottom: auto;
        left: 50%;
        margin-left: -2px;
        top: 98px;
    }

    .roadmap .line .gradient {
        width: 100%;
        height: 60px;
        top: auto;
    }

    .roadmap .line .gradient.left {
        background: -webkit-gradient(linear, left top, left bottom, from(#232328), to(#ed5f4b));
        background: -webkit-linear-gradient(top, #232328, #ed5f4b);
        background: -moz-linear-gradient(top, #232328, #ed5f4b);
        background: -ms-linear-gradient(top, #232328, #ed5f4b);
        background: -o-linear-gradient(top, #232328, #ed5f4b);
    }

    .roadmap .line .gradient.right {
        background: -webkit-gradient(linear, left bottom, left top, from(#232328), to(#ed5f4b));
        background: -webkit-linear-gradient(bottom, #232328, #ed5f4b);
        background: -moz-linear-gradient(bottom, #232328, #ed5f4b);
        background: -ms-linear-gradient(bottom, #232328, #ed5f4b);
        background: -o-linear-gradient(bottom, #232328, #ed5f4b);
    }

    .roadmap .content {
        margin: 98px 0;
    }

    .roadmap .content .milestone {
        width: auto;
        float: none;
        height: 100px;
    }

    .roadmap .content .milestone .icon {
        position: absolute;
        margin: 0 0 0 -35px;
        top: 0;
        left: 50%;
        width: 70px;
        height: 58px;
        padding-top: 12px;
    }

    .roadmap .content .milestone .icon img {
        width: 40px;
    }

    .roadmap .content .milestone .icon .img {
        display: none;
    }

    .roadmap .content .milestone .icon .mobile-img {
        display: inline;
    }
    .mobile-img-right {
        position: relative;
        left: 4px;
    }
    .mobile-img-left {
        position: relative;
        right: 4px;
    }

    .roadmap .content .milestone.left .text {
        float: left;
        margin-left: 35px;
    }

    .roadmap .content .milestone.right .text {
        float: right;
        width: 140px;
        text-align: center;
    }

    .roadmap .content .milestone .text .date {
        font-size: 24px;
    }

    .roadmap .content .milestone .text .name {
        font-size: 14px;
    }

    .roadmap .line .left {
        top: 0;
    }

    .roadmap .line .right {
        bottom: 0;
    }
    .icoplan {
        padding: 60px 0 ;
    }
    .content.ico-content {
        width: 100%;
        /*margin: 8% auto!important;*/
        color: #fff;
        line-height: 1.6;
        font-size: 14px;
    }
    .content.ico-content table{
        border-top: 1px solid #555;
        border-left: 1px solid #555;
        margin: 30px auto;
        border-collapse: collapse;
    }
    .content.ico-content table td{
        border-bottom: 1px solid #555;
        border-right: 1px solid #555;
        white-space: normal;
    }
    .partners {
        padding: 48px 0;
    }

    .partners .content {
        margin-top: 0;
    }

    .partners .content .partner {
        width: 50%;
        margin-top: 58px;
    }

    .partners .content .partner img {
        width: 90%;
    }
    .media {
        padding: 50px 0;
    }
    .media-content{
        padding-top: 50px;
    }
    .media-item{
        width: 50%;
    }
    .contact {
        padding: 48px 0;
    }

    .contact > .container > .title {
        position: relative;
        width: auto;
        height: auto;
    }

    .contact > .container > .title .zh {
        font-size: 28px;
        text-align: center;
    }

    .contact > .container > .title .en {
        font-size: 24px;
        text-align: center;
    }

    .contact .social.weixin {
        display: none;
    }

    .contact .mobile-qr-code {
        display: block;
        margin-top: 28px;
    }

    .contact .mobile-qr-code .title {
        text-align: center;
        font-size: 14px;
        color: #ffffff;
    }

    .contact .mobile-qr-code .qr-code {
        width: 50%;
        margin: 10px auto 40px;
    }

    .contact .content {
        margin: 0;
        height: auto;
        overflow: auto;
    }

    .contact .content .social {
        width: 33.3%;
        margin-right: 0;
    }

    .contact .content .social .icon {
        margin: 0 auto;
    }

    .main-section-title .zh {
        font-size: 20px;
    }

    .main-section-title .en {
        font-size: 20px;
    }

    .pup-form {
        width: 300px;
        padding: 20px;
        border-radius: 5px;
    }

    .input-write {
        width: 100%;
        line-height: 2;
        padding: 5px 10px 5px 24px;
        font-size: 14px;
        background-size: 16px auto;
    }

    .form-group {
        padding: 5px 0;
    }

    .sub-btn {

        line-height: 42px;
        margin: 20px auto 0;
        font-size: 18px;
    }
    .top-header {
        text-align: center;
    }
    .close {
        font-size: 28px;
        width: 60px;
        line-height: 40px;
    }

    .input-write.input-write-email {
        background-position: left 13px;
    }
    .input-write.input-write-email::placeholder {
        color: #ccc;
    }

    .input-write.input-write-beizhu {
        background-position: left -40px;
        color: #ccc;
    }
    .textarea-write:focus{
        border-color:#ed5f4b ;
    }
    .textarea-write {
        border: 1px solid #ccc;
        width: 100%;
        height: 100px;
        padding: 5px;
        font-size: 14px;
    }
    .bot-tip {
        font-size: 12px;
        color: #999;
        margin-top: 20px;
    }
    span.require {
        left: -10px;
        top: 18px;
        font-size: 12px;
    }
}
@media only screen and (max-width: 767px) and (min-width: 520px) {
    .team {
        background-size: 162%;
        height: 360px;
    }
    .team .container{
        padding-top: 20px;
    }
    .team .title .zh {
        font-size: 24px;
    }

    .team .title .en {
        font-size: 18px;
    }
}
@media only screen and (max-width: 519px) {
    .team {
        background-size: 162%;
        height: 251px;
    }
    .team .container{
        padding-top: 20px;
    }
    .team .title .zh {
        font-size: 20px;
    }

    .team .title .en {
        font-size: 14px;
    }
}
@media only screen and (max-width: 374px) {
    .face .content .white-paper {
        margin-top: 100px;
    }
    .face .content .mobile-logo {
        top: -40px;
    }
    .face .content .white-paper .white-paper-link {
        width: 200px;
        height: 50px;
        line-height: 50px;
    }
    .face .icoage-tip {
        font-size: 16px;
        font-weight: bold;
        margin-top: 30px;
    }
    .face .white-paper-link{
        margin-top: 20px;
    }
    .team .container {
        width: auto;
        margin: 0 5px;
    }
    .face .content .slogan {
        font-size: 26px;
    }
    .team {
        background-size: 162%;
        height: 200px;
    }
    .team .container{
        padding-top: 20px;
    }
    .team .title .zh {
        font-size: 20px;
    }

    .team .title .en {
        font-size: 14px;
    }
    .team .summary {
        font-size: 14px;
        margin-top: 38px;
        word-spacing: -1px;
        letter-spacing: 0px;
    }
    .team .summary:after {
        width: 298px;
    }
    .roadmap .content .milestone .text .name {
        font-size: 14px;
    }
    .roadmap .content .milestone.right .text {
        float: right;
        width: 140px;
        text-align: center;
        position: relative;
        z-index: 2;
        padding-left: 20px;
    }
    .roadmap .content .milestone.left .text {
        float: left;
        margin-left: 20px;
    }
}
