$color-c1: #ed5f4b;
$color-c2: #5d5f65;
$color-c3:#f9fbff;

$success-color: #32d182;
$error-color: #ff3333;
$warn-color:#65a3ff;
$info-color: #6b9fe7;

//背景
$bg-c1:#232328;
$bg-color-dk:#666;
$bg-color-md:#999;
$bg-color-lt:#aaa;
$bg-color-xl:#ccc;
//字体
$text-color-xd:#2a2a2a;
$text-color-dk:#666;
$text-color-md:#999;
$text-color-lt:#aaa;
$text-color-xl:#ccc;
//线条
$line-color-xd:#333;
$line-color-dk:#666;
$line-color-md:#999;
$line-color-lt:#aaa;
$line-color-xl:#ccc;
