$text-size-3xl: 24px;
$text-size-2xl: 22px;
$text-size-xl: 20px;
$text-size-lg: 18px;
$text-size-md: 16px;
$text-size-sm: 14px;
$text-size-xs: 12px;

// Screen size breakpoints
$screen-xs-max: 999px;
//$screen-sm-min: 768px;
//$screen-sm-max: 991px;
//$screen-md-min: 992px;
//$screen-md-max: 1199px;
//$screen-lg-min: 1200px;
//$screen-lg-max: 1439px;
//$screen-xl-min: 1440px;
